doctype html
html
    head
        meta(charset="UTF-8")
        title I'm a title
        style
            include ../dist/style.css
    body
        block header
        block content
        block footer
