*{
  box-sizing: content-box;
}

body{
  margin: 0;
  padding: 0;
}

#field{
  display: block;
}

.form-registr {
  background-color: #aaa;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}